.page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 16px;
}

.edit_block {
    background: rgba(67, 94, 31, 0.9);
    color: white;
    padding: 40px 50px;
    width: 680px;
    border-radius: 18px;
    box-shadow: 0px 25px 50px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.edit {
    text-align: center;
    font-size: 29px;
    margin: 0 0 10px 0;
    letter-spacing: 1px;
    text-decoration: underline;
}

.id, .username, .email, .password {

}