* {
    font-family: 'Inter', sans-serif;
}


.landing-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-options {
    display: flex;
    justify-content: center;

}