form{
    display:flex;
    align-items: center;
    justify-content: center;
    
    
}

.signup {
    text-align: center;
    font-size: 29px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-decoration: underline;
    
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar{
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}



.signup_block{
    background: rgba(67, 94, 31, 0.90);;
    color: white;
    padding: 40px 50px;
    width: 520px;
    border-radius: 18px;
    box-shadow: 0px 25px 50px;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 40px;
}

.signup_block input {
    height: 35px;
    border-radius: 10px;
    padding: 0 12px;
    font-size: 15px;
}

.buttons{
    display: flex;
    margin-top: 20px;
}

.id,.username,.password,.email{
    display: grid;
    grid-template-columns: 140px 1fr;
    align-items: center;
}

.google-btn{
    background:white;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 28px;
    font-weight: 100;
    cursor: pointer;
    
}

.submit-btn{
    background:#1f3a04;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    padding: 10px 50px;
    font-weight: 800;
    cursor: pointer;
}


.login-link{
    color: white;
    align-self: flex-end;
    text-align: right;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}








