body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    min-height: 85vh;
}
