PORT= # designated number from your server file
MONGODB_URI= # should be something like mongodb+srv://db_user:<db_password>@<cluster-name>.<cluster-shard>.mongodb.net/?appName=<project-name>
SESSION_SECRET= # generate by using this command: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))" and insert the output after
NODE_ENV= # development for testing, production for deployment