.main {
    margin: 0;
    min-height: 100vh;
    background: #3F5A18;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-family: Poppins, Arial, sans-serif;
}

.login_block {
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
}

.username, .password {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login_block input {
    width: 100%;
    padding: 18px 26px;
    border-radius: 999px;
    background-color: #C8D6B9;
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-align: center;
    outline: none;
}

.login_block input::placeholder {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 600;
}

.login button {
    padding: 12px 26px;
    border-radius: 10px;
    background: #4F6F2F;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.login_action {
    margin-top: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.login_action .btn {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background: #4F6F2F;
    border-radius: 10px;
    color: white;
}