* {
    font-family: Poppins;
}

body {
    background-image: url("../images/background_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

div.landing-panel {
    position: relative;
}

div.light-rectangle {
    background: #C5EAA0;
    position: absolute;
    width: 35%;
    height: 150%;
    top: 15%;
    left: 5%;
    z-index: 1;
}

div.information-block {
    position: relative;
    z-index: 2;
    font-size: small;
    top: 30%;
    left: 5%
}

div.information-block.h1 {
    font-size: medium;
    text-decoration: underline;
}

div.information-block.button {

}

div.dark-rectangle {

}

