<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>animo.labs Reservation</title>
    <link rel="stylesheet" href="../css/admin_homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="header">
      <img src="../images/dlsu-logo-white.png" alt="DLSU Logo" height="30">

      <div class="top_right">
        <a href="#">Reservation History</a>                   <!--Add href going to reservation history-->
        <button class="logout_button">LOG OUT</button>        <!--Add log out functionality-->
      </div>
    </section>

    <main class="main_container">

      <div class="dashboard">
        <section class="panel left_panel">
          <div class="user_box">
          <div class="user_top_row">
          <div class="avatar"><img src="../images/profile.png"></div>
          <h2>Welcome ADMIN<br>(Username)!</h2>
          </div>
          </div>

          <div class="menu_box">
            <a href="admin_slots_overview.html" class="menu_link">SLOTS OVERVIEW</a>
          </div>
        </section>

        <section class="panel right_panel">
        </section>
      </div>
    </main>
    <script src="../js/header_navigation.js"></script>
    <script src="../js/admin_homepage.js"></script>
</body>
</html>