<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Animo Lab Reservation</title>
    <link rel="stylesheet" href="../css/admin_slots_overview.css">
  </head>

  <body>
    <header class="top_bar">
      <div class="top_left_content">
        <div class="logo_box"><img src="monitor.png"></div>
        <span class="title"><b>DLSU</b> LAB RESERVATION</span>
      </div>
      
      <div class="top_right">
        <a href="#">Reservation History</a>                   <!--Add href going to reservation history-->
        <a href="#">View Profile</a>                          <!--Add href going to view profile-->
        <button class="logout_button">LOG OUT</button>        <!--Add log out functionality-->
      </div>
    </header>

    <main class="main_container">

      <div class="dashboard">
        <section class="panel left_panel">
          <div class="user_box">
            <div class="user_top_row">
              <div class="avatar"><img src="profile.png"></div>
              <h2>Welcome ADMIN<br>(Username)!</h2>
            </div>
            <button class="edit_button">EDIT PROFILE</button>   <!--Add edit profile button functionality-->
          </div>
          <div class="menu_box active">SLOTS OVERVIEW</div>
          <div class="menu_box">
            <a href="admin_student_reservation.html" class="menu_link">STUDENT<br>RESERVATIONS</a>
          </div>
          <div class="menu_box">
            <a href="admin_slot_reservation.html" class="menu_link">VIEW ROOM<br>RESERVATIONS</a>
          </div>
        </section>

        <section class="panel right_panel">
          <div class="column">
            <!--Left column content-->
            <label class="input_label">Date:</label>
            <input type="date" class="info_input">
            
            <label class="input_label">Room:</label>
            <select class="info_input">
                <option value="">Select a room</option>
                <option value="A1706">A1706</option>
                <option value="A1904">A1904</option>
                <option value="C314">C314</option>
                <option value="G210">G210</option>
                <option value="G211">G211</option>
                <option value="G302A">G302A</option>
                <option value="G302B">G302B</option>
                <option value="G304B">G304B</option>
                <option value="G306A">G306A</option>
                <option value="G404A">G404A</option>
                <option value="G404B">G404B</option>
                <option value="G405">G405</option>
                <option value="G407">G407</option>
                <option value="J212">J212</option>
                <option value="L212">L212</option>
                <option value="L229">L229</option>
                <option value="L320">L320</option>
                <option value="L335">L335</option>
                <option value="M201">M201</option>
                <option value="M217">M217</option>
                <option value="V205">V205</option>
                <option value="V206">V206</option>
                <option value="V208A">V208A</option>
                <option value="V208B">V208B</option>
                <option value="V301">V301</option>
                <option value="V310">V310</option>
                <option value="Y602">Y602</option>
            </select>
          </div>
  
          <div class="column">
            <!--Right column content-->
            <label class="input_label">Booking Overview:</label>
            <div class="booking_box">
              <!-- Right column content box -->
            </div>
          </div>
        </section>
      </div>

    </main>
</body>
</html>