<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up Sheet</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/edit_profile.css">
</head>

<body>

<section class = "header">
    <img src="../images/dlsu-logo-white.png" alt="DLSU Logo" height="30">
    <a href = "reservation.html" class = "btn"> Return to Home </a>
</section>

<section class = "page">
<form class = "edit_profile"id="edit_profile">
    <div class = "edit_block">
        <h2 class = "edit">EDIT YOUR PROFILE</h2>

        <div class="id">
            <label>ID Number: </label>
            <span id = "idNumber"> </span>
        </div>

        <div class="username">
            <label>Username: </label>
            <span id = "oldUsername"> </span>
            <label> Enter New Username: </label>
            <span> <input type = "text" id = "newUsername"> </span>
        </div>

        <div class = "email">
            <label>Email: </label>
            <span id="oldEmail"> </span>
            <label> Enter New Email: </label>
            <span> <input type="email" id="newEmail"> </span>
        </div>

        <div class="password">
            <label>New Password: </label>
            <input type="password" id="password">
        </div>

    </div>

    <div class="submit">
        <button type="submit" id="submit_btn"> Save Changes </button>
    </div>
</form>

</section>
<script src="../js/edit_profile.js"></script>
</body>
</html>
