<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="animo.labs - Reserve lab rooms and seats for students, professors, and administrators"/>
    <title>animo.labs Reservation | DLSU</title>
    <link rel="stylesheet" href="../css/landing.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <body>

    <section class="header">
      <img src="../images/dlsu-logo-white.png" alt="DLSU Logo" height="30">
    </section>

    <section class="page">
      <section class="landing-header">
        <h1><span class="logo-bold">animo.labs</span> <span>Reservation</span></h1>
        <p class="landing-paragraph">Re-defining the way we learn.</p>
      </section>

      <section class="landing-options">
        <div class="option-card overview-section">
          <h3 class="section-title">Slots Overview</h3>
          <p>View 7-days availability of lab rooms and seats here.</p>
          <a href="reservation.html" class="btn btn-dark">Slots Overview</a>
          </button>
        </div>

        <div class="option-card reservee-section">
          <h3 class="section-title">Students/Professors</h3>
          <p>Enter your account to reserve a room and seat.</p>
          <div class="button-group">
            <a href="signup.html" class="btn btn-primary">Sign Up</a>
            <a href="login.html" class="btn btn-outline">Sign In</a>
          </div>
        </div>

        <div class="option-card admin-section">
          <h3 class="section-title">Administrators</h3>
          <p>Manage lab reservations and adjust timeslots.</p>
          <a href="admin_homepage.html" class="btn btn-dark">Admin Entry</a>
        </div>
      </section>
    </section>
  </body>
</html>
