<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>animo.labs Reservation</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>

<body>

<section class = "header">
    <h1> WELCOME </h1>
</section>

<section class = "page">
    <section class = "landing-header">
        <h1 class = "landing-title"> ANIMO LAB RESERVATION SYSTEM </h1>
    </section>

    <section class = "landing-options">
        <div class = "overview-button">
            <input type = "button" value = "Slots Overview" id = "overview-button">
            <p> View 7-days availability of lab rooms and seats here. </p>
        </div>
        <div class = "reservee">
                <h2 class = reservee-title> STUDENTS/PROFESSORS </h2>
            <div class = "signup-button">
                <a href = "signup.html" class = "btn"> Sign Up </a>
            </div>
            <div class = "login-button">
                <a href = "login.html" class = "btn"> Sign In </a>
            </div>
            <p> Enter your account to reserve a room and seat. </p>
        </div>
        <div class = "admin">
            <h2 class = admin-title> ADMINISTRATORS </h2>
            <div class = "login-admin-button">
                <a href = "login-admin.html" class = "btn"> Admin Entry </a>
            </div>
        </div>
    </section>
</section>

</body>
</html>