<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnimoLabs Log-In</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>

<script src="../js/login.js"></script>

<div class = "main">
    <section class = "header">
        <h1><b>Animo </b> Lab Reservation</h1>
    </section>

    <form>
        <div class = "login_block">
            <h2 class = "login_header"> User Sign-In </h2>
            <div class = "username">
                <input type="text" placeholder="Username" id="username" name="username" required>
            </div>

            <div class = "password">
                <input type = "password" placeholder="Password" id = "password" name = "password" required>
            </div>

            <div class = "remember">
                <label> <input type = "checkbox" id = "remember"> Remember Me </label>
            </div>

            <div class = "login_action">
                <button type = "submit" id = "login_btn"> LOG-IN </button>
                <a href = "signup.html" class = "btn">Sign-Up</a>
                <a href = "landing.html" class = "btn">Return to Main Page</a>
            </div>
        </div>

    </form>

</div>

</body>

</html>