<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up Sheet</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/signup.css">
</head>
<script src="../js/signup.js"></script>
<body>

    <section class="header">
      <img src="../images/dlsu-logo-white.png" alt="DLSU Logo" height="30">
    </section>
    
<form id="signup">
    <div class="signup_block">
    <h2 class="signup">SIGN-UP</h2>

    <div class="id">
        <label>ID Number *</label>
        <input type="text" id="idnumber" required>
    </div>

    <div class="username">
        <label>Username *</label>
        <input type="text" id="user" required>
    </div>

    <div class="password">
        <label>Password *</label>
        <input type="password" id="password" required>
    </div>

    <div class="email">
        <label>Email *</label>
        <input type="email" id="email" required>
    </div>

    <div class="buttons">
        <button type="submit" class="submit-btn">Sign-Up</button>
    </div>

    <a href="login.html" class="login-link">Already have an account</a>
</div>
</form>


</body>
</html>
