<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up Sheet</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/signup.css">
</head>

<body>
<form>
    <div class="signup_block">
    <h2 class="signup">SIGN-UP</h2>

    <div class="profile">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile Picture">
        <p class="avatar"> Change Avatar </p>
    </div>

    <div class="id">
        <label>ID Number *</label>
        <input type="text" required>
    </div>

    <div class="username">
        <label>Username *</label>
        <input type="text" required>
    </div>

    <div class="password">
        <label>Password *</label>
        <input type="password" required>
    </div>

    <div class="email">
        <label>Email *</label>
        <input type="email" required>
    </div>

    <div class="buttons">
        <button class="google-btn">Sign-up with Google</button>
        <button class="submit-btn">Sign-Up</button>
    </div>

    <a href="login.html" class="login-link">Already have an account</a>
</div>
</form>


</body>
</html>
