<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up Sheet</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<script src="../js/signup.js"></script>
<body>
<form id="signup">
    <div class="signup_block">
    <h2 class="signup">SIGN-UP</h2>

    <div class="profile">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile Picture">
        <p class="avatar"> Change Avatar </p>
    </div>

    <div class="id">
        <label>ID Number *</label>
        <input type="text" id="idnumber" required>
    </div>

    <div class="username">
        <label>Username *</label>
        <input type="text" id="user" required>
    </div>

    <div class="password">
        <label>Password *</label>
        <input type="password" id="password" required>
    </div>

    <div class="email">
        <label>Email *</label>
        <input type="email" id="email" required>
    </div>

    <div class="buttons">
        <button type="button" class="google-btn">Sign-up with Google</button>
        <button type="submit" class="submit-btn">Sign-Up</button>
    </div>

    <a href="login.html" class="login-link">Already have an account</a>
</div>
</form>


</body>
</html>
