<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/user_profile.css">
</head>

<body>

<script src="../js/user_profile.js"></script>

<section class = "header">
    <img src="../images/dlsu-logo-white.png" alt="DLSU Logo" height="30">
    <a href = "reservation.html" class = "btn"> Return to Home </a>
</section>

<section class = "page">
        <a href = "edit_profile.html"> User Information </a>
        <a href = "editreservation.html"> Edit Reservation </a>
        <a href = "deletereservation.html"> Delete Reservation </a>
        <button id = "logout_btn"> Logout </button>
</section>


</body>
</html>