<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/user_profile.css">
</head>

<body>

<script src="../js/user_profile.js"></script>

<section class = "header">
    <h1><b>DLSU </b> Lab Reservation</h1>
    <a href = "reservation.html" class = "btn"> Return to Home </a>
</section>

<section class = "page">
        <a href = "edit_profile.html"> User Information </a>
        <p> Notifications </p>
        <a href = "editreservation.html"> Edit Reservation </a>
        <button id = "logout_btn"> Logout </button>
</section>


    <script src="../js/auth.js"></script>
    <script>
      if (!checkUserLogin()) {
        alert('Please log in first!');
        window.location.href = 'login.html';
      } else {
        const user = getCurrentUser();
        document.getElementById('userInfo').innerHtml = `
        <p><strong>Name:</strong> ${user.firstName} ${user.lastName}</p>
        <p><strong>Username:</strong> ${user.username}</p>
        <p><strong>ID Number:</strong> ${user.idNumber}</p>
        `;
      }
    </script>
  </body>
</html>