<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/user_profile.css">
</head>

<body>

<script src="../js/user_profile.js"></script>

<section class = "header">
    <h1><b>DLSU </b> Lab Reservation</h1>
    <a href = "reservation.html" class = "btn"> Return to Home </a>
</section>

<section class = "page">
        <p> Personal Information </p>
        <p> Email and Password </p>
        <p> Notifications </p>
        <button id = "logout_btn"> Logout </button>
</section>


</body>
</html>
