{{#> (layout "main")}}

<section class="header">
    <img src="/images/dlsu-logo-white.png" alt="DLSU Logo" height="30">
</section>

<section class="page">
    <section class="landing-header">
        <h1><span class="logo-bold">animo.labs</span> <span>Reservation</span></h1>
        <p class="landing-paragraph">Re-defining the way we learn.</p>
    </section>

    <section class="landing-options">
        <div class="option-card overview-section">
            <h3 class="section-title">Slots Overview</h3>
            <p>View 7-days availability of lab rooms and seats here.</p>
            <a href="/reservation" class="btn btn-dark">Slots Overview</a>
        </div>

        <div class="option-card reservee-section">
            <h3 class="section-title">Students/Professors</h3>
            <p>Enter your account to reserve a room and seat.</p>
            <div class="button-group">
                <a href="/auth/signup" class="btn btn-primary">Sign Up</a>
                <a href="/auth/login" class="btn btn-outline">Sign In</a>
            </div>
        </div>

        <div class="option-card admin-section">
            <h3 class="section-title">Administrators</h3>
            <p>Manage lab reservations and adjust timeslots.</p>
            <a href="/admin" class="btn btn-dark">Admin Entry</a>
        </div>
    </section>
</section>