{{#> (layout "main")}}

<script src="../js/user_profile.js"></script>

<section class="page">
    <a href="/auth/profile/edit">User Information</a>
    <a href="/reservation/edit">Edit Reservation</a>
    <a href="/reservation/delete">Delete Reservation</a>
    <a href="/lab/search">Search Seat</a>
    <button id="logout_btn">Logout</button>
</section>