<link rel="stylesheet" href="/css/user_profile.css">

<script src="/js/user_profile.js"></script>

<section class="page">
    <a href="/auth/profile">User Information</a>
    <a href="/lab/search">Search Seat</a>
    <a href="/reservation">My Reservation</a>
    <button id="logout_btn">Logout</button>
</section>