<nav class="navbar admin-navbar">
    <a href="/admin"><img src="/images/dlsu-logo-white.png" alt="DLSU Logo" height="30"></a>
    <div class="nav-links">
        <a href="/admin">Dashboard</a>
        <a href="/admin/admin_reservation">Manage Slots</a>
        <a href="/admin/admin_reservation_history">Reservation History</a>
        <a href="/admin/login">Logout</a>
    </div>
    {{/unless}}
</nav>
