<nav class="header">
    <a href="/"><img src="/images/dlsu-logo-white.png" alt="DLSU Logo" height="30"></a>
    <div class="nav-links">
        <a href="/reservation">Slots Overview</a>
        <a href="/lab/search">Search</a>
        <a href="/auth/login">Sign In</a>
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/profile">My Profile</a>
    </div>
</nav>