<link rel="stylesheet" href="/css/admin_student_reservation.css">

<main class="main_container">
    <div class="dashboard">
        <section class="panel left_panel">
            <div class="user_box">
                <div class="user_top_row">
                    <div class="avatar"><img src="/images/profile.png"></div>
                    <h2>Welcome ADMIN<br>(Username)!</h2>
                </div>
                <button class="edit_button">EDIT PROFILE</button> <!-- Add edit profile button functionality -->
            </div>
            <div class="menu_box">
                <a href="/admin/slots" class="menu_link">SLOTS OVERVIEW</a>
            </div>
            <div class="menu_box active">STUDENT<br>RESERVATIONS</div>
            <div class="menu_box">
                <a href="/admin/slots/:id" class="menu_link">RESERVE<br>SLOT/S</a>
            </div>
        </section>

        <section class="panel right_panel">
            <label class="input_label">STUDENT USER ID</label>
            <input type="text" class="student_id_input">
            <div class="content_box"></div>
        </section>
    </div>
</main>
<script src="/js/header_navigation.js"></script>