<link rel="stylesheet" href="/css/admin/admin_homepage.css">

<form action="/admin/login" method="POST">
    <div class="login_block">
        <h2 class="login_header"> Admin Sign-In </h2>
        <div class="username">
            <input type="text" placeholder="Admin Username" id="username" name="username" required>
        </div>

        <div class="password">
            <input type="password" placeholder="Admin Password" id="password" name="password" required>
        </div>

        <div class="remember">
            <label> <input type="checkbox" id="remember"> Remember Me </label>
        </div>

        <div class="login_action">
            <button type="submit" id="login_btn"> LOG-IN </button>
            <a href="/" class="btn">Return to Main Page</a>
        </div>
    </div>
</form>
<script src="/js/admin_login.js"></script>