<link rel="stylesheet" href="/css/admin_slot_overview.css">

<main class="main_container">
    <div class="dashboard">
        <section class="panel left_panel">
            <div class="user_box">
                <div class="user_top_row">
                    <div class="avatar"><img src="/images/profile.png"></div>
                    <h2>Welcome ADMIN<br>(Username)!</h2>
                </div>
            </div>
            <div class="menu_box active">SLOTS OVERVIEW</div>
            <div class="menu_box">
                <a href="/admin/slots/reservation" class="menu_link">VIEW ROOM<br>RESERVATIONS</a>
            </div>
        </section>

        <section class="panel right_panel">
            <div class="inputs_row">
                <div class="input_col">
                    <label class="input_label">Date:</label>
                    <input type="date" class="info_input" id="dateInput">
                </div>

                <div class="input_col">
                    <label class="input_label">Room:</label>
                    <select class="info_input" id="roomSelect">
                        <option value="">Select a room</option>
                        <option value="GK302A">GK302A</option>
                        <option value="GK302B">GK302B</option>
                        <option value="GK304B">GK304B</option>
                    </select>
                </div>

                <div class="input_col">
                    <label class="input_label">Booking Overview:</label>
                    <div class="booking_box">
                        <div class="booking_stat">
                            <span class="booking_label">SEATS AVAILABLE:</span>
                            <span class="booking_value" id="seatsAvailable">20/20</span>
                        </div>
                        <div class="booking_stat">
                            <span class="booking_label">SEATS FOR REPAIR:</span>
                            <span class="booking_value" id="seatsRepair">0</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chart_section">
                <div class="chart_container">
                    <table class="schedule_table" id="scheduleTable">
                        <thead>
                            <tr>
                                <th class="time_header">TIME</th>
                                <th>7:30<br>AM</th>
                                <th>8:00<br>AM</th>
                                <th>8:30<br>AM</th>
                                <th>9:00<br>AM</th>
                                <th>9:30<br>AM</th>
                                <th>10:00<br>AM</th>
                                <th>10:30<br>AM</th>
                                <th>11:00<br>AM</th>
                                <th>11:30<br>AM</th>
                                <th>12:00<br>PM</th>
                                <th>12:30<br>PM</th>
                                <th>1:00<br>PM</th>
                                <th>1:30<br>PM</th>
                                <th>2:00<br>PM</th>
                                <th>2:30<br>PM</th>
                                <th>3:00<br>PM</th>
                                <th>3:30<br>PM</th>
                                <th>4:00<br>PM</th>
                                <th>4:30<br>PM</th>
                                <th>5:00<br>PM</th>
                                <th>5:30<br>PM</th>
                                <th>6:00<br>PM</th>
                            </tr>
                        </thead>
                        <tbody id="scheduleBody">
                            <tr>
                                <td colspan="23" class="empty_message">Please select a room to view availability</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="legend_container">
                    <div class="legend_item">
                        <div class="legend_box legend_available"></div>
                        <span>AVAILABLE (Seats Open)</span>
                    </div>
                    <div class="legend_item">
                        <div class="legend_box legend_full"></div>
                        <span>FULL (All Seats Reserved)</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<script src="/js/header_navigation.js"></script>
<script src="/js/admin_slot_overview.js"></script>