<link rel="stylesheet" href="/css/admin_homepage.css">

<main class="main_container">
    <div class="dashboard">
        <section class="panel left_panel">
            <div class="user_box">
                <div class="user_top_row">
                    <div class="avatar"><img src="/images/profile.png"></div>
                    <h2>Welcome ADMIN<br>(Username)!</h2>
                </div>
            </div>

            <div class="menu_box">
                <a href="/admin/slots" class="menu_link">SLOTS OVERVIEW</a>
            </div>
        </section>

        <section class="panel right_panel">
        </section>
    </div>
</main>
<script src="/js/header_navigation.js"></script>
<script src="/js/admin_homepage.js"></script>